.slider {
  $root: &;

  outline: 0;
  position: relative;
  user-select: none;
  width: 100%;

  &__item-wrapper {
    display: none;
    min-height: 200px;
    height: 100%;
    text-align: center;
    user-select: none;
    width: 100%;

    &--active {
      display: flex;
    }
  }

  &__item-title {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    &--light {
      color: #FFF;
    }

    &--uppercase {
      text-transform: uppercase;
    }
  }

  &__item-caption {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;

    &--light {
      color: #FFF;
    }

    &--uppercase {
      text-transform: uppercase;
    }
  }

  &__item-description {
    align-self: center;
    width: 100%;

    &--light {
      color: #FFF;
    }

  }

  &__next-arrow,
  &__prev-arrow {
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 0;
    
    &:hover {
      cursor: pointer;

      #{$root}__next-arrow-icon-wrapper  {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  &__next-arrow-icon-wrapper {
    height: 30px;
    padding: 8px 10px;
    transition: background-color 1s;
    width: 30px;
  }

  &__next-arrow {
    right: 0;
  }

  @media (max-width: 1024px) {
    &__next-arrow,
    &__prev-arrow {
      &:hover {
        cursor: inherit;
      }
    }
  }
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
